{% extends 'base.html' %}

{% block content %}
  <h1>Exams</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Class</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for exam in exams %}
        <tr>
          <td>{{ exam.name }}</td>
          <td>{{ exam.date }}</td>
          <td>{{ exam.class_name }}</td>
          <td> {{ exam.format }}</td>
          <td>
            <a href="{% url 'exam_update' exam.id %}">Edit</a>
            <a href="{% url 'exam_delete' exam.id %}">Delete</a>

          </td>
        </tr>
      <tr>{% for student in exam.class_name.students.all %}
        <td>{{student.name}}</td>
        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="{% url 'exam_create'%}">Create exam</a>

{% endblock %}